body{
    margin: 0;
    font-family: "Helvetica neue", helvetica arial, sans-serif;
}
.promotional-bar{
    background-color: rgb(247, 189, 82);
    color: black;
    padding: 5px;
    text-align: center;
}
.promotional-bar:hover{
    text-decoration: underline;
}
.highlight{
    color: red;
    
}
.main-nav{
    display: flex;
    align-items: center;
    background-color: white;
    padding : 15px;
    color : black;
}
.logo{
    font-size: 20px;
    font-weight: bolder;
    margin-left: 28px;
}
.searchBar{
    flex-grow: 0.4;
    padding: 10px;
    margin-left: 25px;
    border-radius: 18px;
    border: 1px solid grey;
}
.owl-carousel{
    position: relative;
}
.owl-nav{
    position: absolute;
    top:50%;
    width:100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 1000;
   
}
.owl-prev, .owl-next{
    background-color: black;
    padding: 60px;
    cursor: pointer;
    border: none;
    position: absolute;
    z-index: 1010;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    height: 60px;
    width: 50px;
}
.owl-item{
    position: relative;
   
}
.owl-prev{
   
    left: 10px;
}
.owl-next{
   
    right: 10px;
}
.owl-carousel img{
    max-width: 100%;
    height: auto;
    display: block;
}
.navItem{
    margin: 22px;
    font-size: 16px;
    position: relative;
    margin-bottom: 30px;
   
    
}

.mainNav{
    background-color: black;
    color: white;
}
.mainNav ul {
    list-style : none;
    padding : 0;
    margin : 0;
    display: flex;

}
.mainNav ul li {
    padding : 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.mainNav ul li a {
    text-decoration : none;
    color: inherit;
    
}
.item-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Choosen-sec{
    margin-right: 1100px;
    margin-top: 30px;
    font-size: 20px;
}
.quick-look{
    display: flex;
    flex-direction : column;
    
    width: 300px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 8px;

}
.item{
    background-color: black;
    margin-left: 12px;
    height: 450px;
}
.item img{
    height: 70%;
    width:100%;
    margin-top: 15px;
    
}
.item p, .item h3:hover{
    text-decoration: underline;

}
.item > h3, .item p{
    margin-left: 20px;
    color: white;
    margin-top: 8px;
    text-decoration: none;
}

.third_box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    padding: 15px;
   margin: 10px;
   height: auto;
}
.third_parent1{
    
    margin: 10px;
    background-color: #502284 ;
    color: white;
   
   
}
.third_parent2{
   
    margin: 7px;
    background-color: #5DB7B5;
    color: black;
   
}
.third_parent3{
   
    margin: 8px;
    background-color: #558FCD;
    color: white;
   
}
.third_parent1 > img{
    height: 65%;
    width: 100%;

    
}
.third_parent2 > img{
    height: 65%;
    width: 100%;

    
}
.third_parent3 > img{
    height: 65%;
    width: 100%;

    
}

.third_box2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    padding: 15px;
   margin: 10px;
   height: auto;
}
.third_parent4{
    
    margin: 10px;
    background-color: #F2F2F2 ;
    color: black;
   
}
.third_parent5{
   
    margin: 7px;
    background-color: #BDDCEE;
    color: black;
   
}
.third_parent6{
   
    margin: 8px;
    background-color:#F28280;
    color: black;
   
}
.third_parent4 > img{
    height: 65%;
    width: 100%;

    
}
.third_parent5 > img{
    height: 65%;
    width: 100%;

    
}
.third_parent6 > img{
    height: 65%;
    width: 100%;

    
}
#head_id{
    padding-left: 15px;
}
.mainParent{
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 25px;
    margin-bottom: 25px;
   
   
}
.parentOne{
   font-size: 15px;
    white-space: nowrap;
   margin-left: 13px;
   margin-bottom: 60px;
   margin-top: 5px;
}
.parentOne > h2, 
.parentOne > p{
    margin-left: 15px;
    transform: margin 0.5s;
}
.parentOne > .childBox {
    margin-top: -5px;
}
.parentBox{
    display : grid;
    grid-template-columns: repeat(8, 1fr);
    margin-left: 30px;
    padding: 5px;
    padding-bottom: 30px;
    gap: 1px;
}
.childBox{
    width: 111px;
    height : 130px;
    border-radius: 8px;
    margin-left: 3px;
    margin-top: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    gap: 2px;
}
.childBox > p{
    margin-left: 5px;
    margin-top: 7px;
}
.childBox > img{
    margin-top: 16px;
    margin-left: 50px;
}
#second_head{
    letter-spacing: em;
    word-spacing: 0.-7em;
}
.childBox:hover {
    transform: translateY(-5px);
}
.container{
    max-width: 1200px;
   
   
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}
.footer{
    background-color: black;
    color: white;
    padding: 20px 0;
    margin-top: 30px;

}
.footer_col{
    width: 19%;
    padding: 5px;
    line-height: 1.7;

}
.footer_col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 4px;
    font-weight: 600;
    position: relative;
    margin-left: 40px;

}

.footer_col ul li a{
font-size: 15px;
text-transform: capitalize;
color: white;
text-decoration: none;
font-weight: 150;
display: block;
transition: all 0.3s ease;
}
.logo_footer{
height: 16px;

}
.footer_col ul li a:hover{
color: white;
text-decoration: underline;

}
.footer_col1 h2{
font-size: 20px;
font-weight: 500;
}
.footer_down{
display: flex;
margin-top: 6px;
}
.footer_down1{
font-size: 14px;
}
.footer_down1 p{
    margin-top: 10px;
}
.footer_down1 p, .footer_down1 span:hover{
text-decoration: underline;

}
.footer_down_social{
margin-left: 380px;
font-size: 25px;
margin-top: 10px;

}
.footer_down_social a{
color: white;
padding-left: 15px;
}
.footer_form{
margin-top: 120px;
}
.form-input{
height: 35px;
width: 220px;
text-align: center;
border-radius: 6px;
border: 0px;

}
.continue-btn{
height: 30px;
width: 100px;

}
.form-container {
text-align: center;
margin-top: 110px;
}

.form-input {
height: 30px;
width: 200px;
margin-bottom: 10px;
}

.continue-btn {
padding-bottom: 10px 20px 10px 10px;

font-size: 17px;
background-color: black;
color: white;
border: none;
cursor: pointer;
margin-top: 27px;
border-radius: 10px;
border: 1px solid white;


}


.form {
display: flex;
align-items: center;
justify-content: center;
}

.form > div {
margin-right: 10px;
}
.footer_upper1{
margin-left: 160px;
margin-bottom: 20px;
}
.footer_upper span:hover{
text-decoration: underline;
}
.footer_upper1 span:hover{
text-decoration: underline;
}
.footer_col1{
    margin-left: 30px;
}
.footer_promo{
    height: 30px;
    background-color: grey;
    color: black;
   
    text-align: center;
}
.footer_promo p{
    font-size: 16px;
    padding-top: 5px;
}






